<ion-view title="Job">
    <ion-content class="has-header">

        <div class="details">

            <img src="pics/{{job.pic}}" width="100" height="100"/>
            <h4>{{job.title}}</h4>
            <p>{{job.description}}</p>
            <a class="button button-info icon icon-right ion-chevron-right">
                Interesado
            </a>  
            
        </div>

        <div class="list card">
            <a class="item item-icon-left" href="#/app/managers/{{job.manager.id}}">
                <i class="icon ion-ios7-person"></i>Ver Administrador<p>{{job.manager.name}}</p>
            </a>
            <a class="item item-icon-left" href="mailto:{{job.manager.email}}">
                <i class="icon ion-ios7-email"></i>Email<p>{{job.manager.email}}</p>
            </a>
        </div>

    </ion-content>
</ion-view>