<ion-view title="Oferta de Trabajo">
    <ion-content class="has-header">

    <div class="details">

        <img src="pics/{{manager.pic}}" width="100" height="100"/>
        <h2><strong>{{job.description}}</strong></h2>
        <p>{{manager.location}}, {{manager.country}}</p>

        <br>

        <div class="card">
            <li class="item item-checkbox item-right">
                <label class="checkbox">
                  <input type="checkbox" ng-checked="job.interested">
                </label>
                Estoy Interesado
            </li>
        </div>

        <div class="item item-divider">
            Datos
        </div>

        <a class="item item-icon-left" href="#/app/managers/{{manager.id}}">
            <i class="icon ion-ios7-person"></i>Gerente<p>{{manager.name}}</p>
        </a>

        <a class="item item-icon-left">
            <i class="icon"></i>Descripción<p>{{job.details}}</p>
        </a>

        <a class="item item-icon-left">
            <i class="icon"></i>Fecha<p>{{job.date}}</p>
        </a>

        <a class="item item-icon-left">
            <i class="icon"></i>Habilidad deseada<p>{{job.skills}}</p>
        </a>

    </div>

    </ion-content>
</ion-view>