<ion-view title="Favoritos">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <ion-list>
      <ion-item class="item item-avatar" ng-repeat="job in jobs" href="#/app/jobs/{{job.id}}">
        
          <img src="pics/{{job.pic }}" />
          <h2>{{job.description}}</h2>
          <p>{{job.location}}</p>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>