<ion-view title="Empleador">
  <ion-content class="has-header">

  <div class="details">

      <img src="pics/{{manager.pic}}" width="100" height="100"/>
      <h2><strong>{{manager.business_name}}</strong></h2>
      <p>{{manager.description}}</p>
      <img src="pics/stars.png" class="ranked-mini">

      <br> <br> <br>

      <div class="item item-divider">
          Datos
      </div>

      <a class="item item-icon-left">
          <i class="icon"></i>Gerente<p>{{manager.name}}</p>
      </a>

      <a class="item item-icon-left">
          <i class="icon"></i>Ubicación<p>{{manager.location}}, {{manager.country}}</p>
      </a>

      <a class="item item-icon-left" href="mailto:{{job.manager.email}}">
          <i class="icon"></i>Email<p>{{manager.email}}</p>
      </a>

  </div>

  <div class="item item-divider">
      Trabajos publicados
  </div>

  <ion-list>
    <ion-item class="item item-avatar" ng-repeat="job in jobs" href="#/app/jobs/{{job.id}}">
      
        <img src="pics/{{job.pic }}" />
        <h2>{{job.location}}</h2>
        <p>{{job.description}}</p>

    </ion-item>
  </ion-list>

  </ion-content>
</ion-view>