<ion-view title="Perfil">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

      <div class="details">

          <img src="pics/{{profile.pic}}" width="100" height="100"/>
          <h2><strong>{{profile.name}}</strong></h2>
          <p>{{profile.email}}</p>

          <img src="pics/stars.png" class="ranked">

      </div>

      <br>

      <div class="item item-body">

           <div class="button-bar">
             <a class="button" ng-click="setTab(1)">Habilidades</a>
             <a class="button" ng-click="setTab(2)">Idiomas</a>
             <a class="button" ng-click="setTab(3)">Historial Trabajo</a>
           </div>

      </div>

      <ion-list ng-show="isSet(1)">
        <ion-item class="item" ng-repeat="skill in profile.skills">
             {{skill.name}}
        </ion-item>
      </ion-list>

      <ion-list ng-show="isSet(2)">
        <ion-item class="item" ng-repeat="language in profile.languages">
             {{language.name}}
        </ion-item>
      </ion-list>

      <ion-list ng-show="isSet(3)">
        <ion-item class="item item-avatar" ng-repeat="job in profile.past_jobs" href="#/app/jobs/{{job.id}}">
          
            <img src="pics/{{job.pic }}" />
            <h2>{{job.description}}</h2>
            <p>{{job.location}}</p>

        </ion-item>
      </ion-list>

  </ion-content>
</ion-view>