<ion-view title="Perfil">
    <ion-content class="has-header">

        <div class="profile-content">
            <div class="item item-avatar">
               <img src="mcfly.jpg">
               <h2>{{profile.name}}</h2>
               <p>{{profile.email}}</p>
               <a class="button button-positive button-small icon icon-right ion-chevron-right" href="#/app/result">Editar perfil</a>
             </div>

             <div class="item item-body">

                 <div class="button-bar">
                   <a class="button" ng-click="setTab(1)">Habilidades</a>
                   <a class="button" ng-click="setTab(2)">Historial Trabajo</a>
                 </div>

            </div>

            <ion-list ng-show="isSet(1)">
              <ion-item class="item" ng-repeat="skill in profile.skills">
                   {{skill.name}}
              </ion-item>
            </ion-list>

            <ion-list ng-show="isSet(2)">
              <ion-item class="item" ng-repeat="job in profile.past_jobs">
                   {{job.title}}
              </ion-item>
            </ion-list>

        </div>

    </ion-content>
</ion-view>