<ion-view title="Perfil">
    <ion-content class="has-header">

        <div class="profile-content">
            <div class="item item-avatar">
               <img src="mcfly.jpg">
               <h2>{{profile.name}}</h2>
               <p>{{profile.email}}</p>
               <a class="button button-positive button-small icon icon-right ion-chevron-right" href="#/app/result">Editar perfil</a>
             </div>

             <div class="item item-body">
                <h3>Habilidades</h3>
                <ul>
                    <li>
                      ...
                    </li>
                    <li>
                      ...
                    </li>
                    <li>
                      ...
                    </li>
                    <li>
                      ...
                    </li>
                </ul>
            </div>
        </div>

    </ion-content>
</ion-view>