<ion-view title="Búsqueda">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <label class="item item-input item-select">
       <div class="input-label">
         País
       </div>
       <select>
         <option>México</option>
         <option>USA</option>
         <option>Japón</option>
       </select>
    </label>

    <label class="item item-input item-select">
       <div class="input-label">
         Ciudad
       </div>
       <select>
         <option>Playa del Carmen</option>
         <option>Cancún</option>
         <option>Tamaulipas</option>
       </select>
    </label>

    <label class="item item-input">
      <span class="input-label">Month</span>
      <input type="month">
    </label>

    <div class="styled-button">
      <a class="button button-positive icon icon-right ion-chevron-right" href="#/app/result">
        ¡Encuentrame empleo!
      </a>  
    </div>

  </ion-content>
</ion-view>
